:root {
  --main-bg-color: rgb(26, 35, 50);
  --sections-bg-color: rgb(27, 27, 37);
  --par-bg-color: rgb(62, 62, 116);
  --inpar-bg-color: rgb(52, 80, 142);
  --modal-bg-color: rgba(20, 17, 46, 0.75);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  background-color: var(--main-bg-color);
  color: whitesmoke;
  min-height: 100vh;
}

.navigation_menu > nav {
  background-color: var(--sections-bg-color);
  color: white;
  display: flex;
  justify-content: space-around;
}

.navigation_menu > nav a {
  color: white;
  text-decoration: none;
}

/* ------------search------------ */

.search {
  height: 30px;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

/* -------------card-------------- */

.card {
  padding: 1rem;
  max-width: 500px;
}

.card > header {
  display: flex;
  gap: 1rem;
}

.card > header img {
  border-radius: 50%;
}

.card > main {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.card > main div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

/* ---------matches list ---------------*/

.last_matches {
  background-color: var(--sections-bg-color);
  padding: 5px;
}

.matches_list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.matches_list > li:nth-child(2n) {
  background-color: var(--par-bg-color);
}

.matches_list > li:nth-child(2n + 1) {
  background-color: var(--inpar-bg-color);
}

.matches_list li {
  list-style: none;
}
.matches_list > li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
}

.matches_list > li > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.match_container {
  max-width: 950px;
}

.match_container:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.match_body {
  max-width: 950px;
  padding: 10px;
}

.match_body_component {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.match_body_component img,
.match_body_component li {
  height: 25px;
  width: 25px;
}

.summoner_spells img {
  border-radius: 15%;
}

.matches_items {
  display: grid;
  grid-template-areas:
    "item item item guard"
    "item item item guard";
  gap: 5px;
}

.matches_items li,
.matches_items img {
  background-color: var(--main-bg-color);

  border-radius: 15%;
}

.matches_items li:nth-child(7) {
  grid-area: guard;
  align-self: center;
}

.summoners_list ul {
  display: flex;
  flex-direction: row;
}

.summoners_list {
  display: none;
}

.match_kda {
  min-width: 60px;
}

@media (min-width: 650px) {
  .summoners_list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    border-radius: 15%;
  }
}

/* -------------modal------------- */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_container {
  position: relative;
  width: 90%;
  height: 85%;
  background-color: var(--sections-bg-color);
  overflow: scroll;
}

.modal_close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal_close:hover {
  cursor: pointer;
}

.open_match_component {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.open_match_component img,
.open_match_items li,
.open_match_items img {
  height: 15px;
  width: 15px;
}

.open_match_participant {
  background-color: var(--inpar-bg-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0.2rem;
  width: fit-content;
}

.blue_team h3 {
  background-image: linear-gradient(to right, rgb(36, 46, 135), transparent);
}

.red_team h3 {
  background-image: linear-gradient(to right, rgb(148, 26, 14), transparent);
}

.open_match_teams {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: fit-content;
}
