:root {
  --main-bg-color: rgb(26, 35, 50);
  --sections-bg-color: rgb(27, 27, 37);
  --par-bg-color: rgb(62, 62, 116);
  --inpar-bg-color: rgb(52, 80, 142);
  --modal-bg-color: rgba(20, 17, 46, 0.75);
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  overflow-x: hidden;
}
#root {
  background-color: var(--main-bg-color);
  color: whitesmoke;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-rows: 80px auto;
}

.navigation_menu > nav > menu {
  background-color: var(--sections-bg-color);
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 80px;
}
.navigation_menu li {
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.navigation_menu > nav a {
  color: white;
  text-decoration: none;
}

/* ------------search------------ */

.search {
  height: 30px;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

/* -------------card-------------- */

.card {
  padding: 1rem;
  max-width: 500px;
}

.card > header {
  display: flex;
  gap: 1rem;
}

.card > header img {
  border-radius: 50%;
}

.card > main {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.card > main div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

/* ---------matches list ---------------*/

.last_matches {
  background-color: var(--sections-bg-color);
  padding: 5px;
}

.matches_list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.matches_list > li:nth-child(2n) {
  background-color: var(--par-bg-color);
}

.matches_list > li:nth-child(2n + 1) {
  background-color: var(--inpar-bg-color);
}

.matches_list li {
  list-style: none;
}
.matches_list > li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
}

.matches_list > li > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.match_container {
  max-width: 950px;
}

.match_defeat {
  background-image: linear-gradient(
    to right,
    rgba(148, 26, 14, 0.4),
    transparent,
    transparent
  );
}

.match_win {
  background-image: linear-gradient(
    to right,
    rgba(38, 225, 53, 0.3),
    transparent,
    transparent
  );
}

.match_container:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.match_body {
  max-width: 950px;
  padding: 10px;
}

.match_body_component {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.match_body_component img,
.match_body_component li {
  height: 25px;
  width: 25px;
}

.summoner_spells img {
  border-radius: 15%;
}

.matches_items {
  display: grid;
  grid-template-areas:
    "item item item guard"
    "item item item guard";
  gap: 5px;
}

.matches_items li,
.matches_items img {
  background-color: var(--main-bg-color);

  border-radius: 15%;
}

.matches_items li:nth-child(7) {
  grid-area: guard;
  align-self: center;
}

.summoners_list ul {
  display: flex;
  flex-direction: row;
}

.summoners_list {
  display: none;
}

.match_kda {
  min-width: 70px;
}

@media (min-width: 650px) {
  .summoners_list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    border-radius: 15%;
  }
}

/* -------------modal------------- */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_container {
  position: relative;
  width: 90%;
  height: 85%;
  background-color: var(--sections-bg-color);
  overflow: scroll;
}

.modal_close {
  position: fixed;
  right: 0;
  top: 0;
  background-color: red;
  border-radius: 20%;
  height: 2rem;
  width: 2rem;
}

.modal_close:hover {
  cursor: pointer;
}

.open_match_component {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.open_match_component img,
.open_match_items li,
.open_match_items img {
  height: 15px;
  width: 15px;
}

.open_match_participant {
  background-color: var(--inpar-bg-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0.2rem;
  width: fit-content;
}

.blue_team h3 {
  background-image: linear-gradient(to right, rgb(36, 46, 135), transparent);
}

.red_team h3 {
  background-image: linear-gradient(to right, rgb(148, 26, 14), transparent);
}

.open_match_teams {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: fit-content;
}

/* ---------------HOME-------------- */

.home {
  display: grid;
  grid-template-columns: 600px auto;
  min-height: 100%;
  gap: 10px;
}

.home_hero {
  padding: 2.4rem;
  max-width: 100vw;
}

.home_hero h2 span {
  color: rgb(222, 50, 50);
}
.home_hero section {
  padding: 3rem 0.4rem;
}
.home_hero section span {
  font-family: "Oswald", sans-serif;
  font-size: 4.2rem;
  line-height: 6rem;
}
.home_hero span:nth-child(2n) {
  color: rgb(222, 50, 50);
}

.home_games {
  padding: 2.4rem;
  position: relative;
}

.home_games h2:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.4;
  background-image: url("./assets/images/grieta-invocador.webp");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.home_games img {
  height: 250px;
  width: 180px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid gold;
  overflow: hidden;
}

.home_games ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home_games li {
  font-size: 2rem;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 2;
}
.home_games li:hover {
  background-color: rgba(23, 18, 32, 0.65);
}
.home_games a {
  color: white;
  text-decoration: none;
}

.home_games p {
  padding: 15px;
}

.home_games .front_page {
  height: 250px;
  width: 180px;
}

@media (max-width: 1080px) {
  .home {
    grid-template-columns: none;
    grid-template-rows: auto auto;
  }
  .home_hero section {
    padding: 1.6rem 0;
  }
  .home_hero section span {
    font-size: 2rem;
    line-height: 2rem;
  }
  .home_games p {
    font-size: 1.6rem;
  }
  .navigation_menu img {
    height: 25px;
  }
  .navigation_menu > nav > menu {
    height: 60px;
  }
}

@media (max-width: 600px) {
  .home_games li {
    flex-direction: column;
  }
} ;
